<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>cats</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
<h1>Cats</h1>
    <img src="/images/cat.jpg" alt="">
    <p>Ferocious Cat</p>
    <hr>
    <img src="/images/cat2.jpg" alt="">
    <p>So danger</p>
    <hr>
    <img src="/images/cat3.jpg" alt="">
    
    
</body>
</html>