<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="/users" method="post">
        <input type="text" name="name" placeholder="Name" id="">
        <input type="text" name="age" placeholder="Age" id="">
        <input type="submit" value="Submit">
    </form>
<% for(let x in users) { %>
    <p><%= users[x].name %> <%= users[x].age %></p>
<% } %>
</body>
</html>