<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Quotes Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>
<body>
<div class="container">
    <div style="width: 450px; padding: 20px; border: 2px solid blue; border-radius: 3px;">
        <h1>Here are the awesome quotes!</h1>
        <% for(let x in quotes) { %>
            <h3 style="color: gray;">"<%= quotes[x].quote %>"</h3>
            <p style="color: blue;">by: <%= quotes[x].name %> @ <%= quotes[x].createdAt %></p>
            <hr>
        <% } %>
    </div>
</div>
</body>
</html>