* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

#wrapper {
    width: 600px;
    border: solid 1px black;
    padding: 20px;
}

.error {
    color:red;
    font-weight: bold;
    font-size: 75%;
    display: inline;
}

label {
    width: 175px;
    display: inline-block;
    margin-right: 10px;
    text-align: right;
}

#submitButton {
    width: 640px;
    background-color: white;
    padding: 10px;
    border: solid 3px black;
    font-size: 30px;
}

#welcomeBox {
    width: 250px;
    border: solid green 1px;
    padding: 5px;
    margin: 5px;
}