<h1>Create a New Product</h1>
<form (submit)='onFormSubmit()' name="newProductForm" #formData='ngForm'>
  <label for="title">Title</label>
  <input type="text" name="title"
  required
  minlength="4"
  [(ngModel)]="product.title"
  #title = 'ngModel'>
  <br>

  <label for="price">Price</label>
  <input type="number" name="price"
  required
  [(ngModel)]="product.price"
  #price = 'ngModel'>
  <br>

  <label for="imageUrl">Image Url</label>
  <input type="text" name="imageUrl"
  [(ngModel)]="product.imageUrl"
  #imageUrl = 'ngModel'>
  <br>

  <input  [disabled]="!formData.valid" class="btn-success" type="submit" value="Create">
</form>
